@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  font-family: sans-serif;
  user-select: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-style: italic;
}
.mode {
  display: inline-block;
  position: fixed;
}
.mode #light,
.mode #dark {
  position: absolute;
  top: 15px;
  right: 5px;
  left: calc(100vw - 45px);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#light {
  display: inline;
}
#dark {
  display: none;
}

.content-dark {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d1f4b;
  flex-wrap: wrap;
}
.content-light {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  height: 440px;
  width: 290px;
  padding: 10px;
  background: rgba(24, 15, 51, 0.253);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 5px white, -1px -1px 5px white;
}
span {
  font-family: "Smooch", cursive;
  font-size: 40px;
  font-weight: lighter !important;
}
.intro {
  color: inherit;
  font-style: italic;
  font-family: "EB Garamond", serif !important;
  font-size: 25px !important;
}
.card h1 {
  color: rgb(255, 255, 255);
  transition: all 120ms ease-in-out;
  font-size: 70px;
  font-family: "Cookie", cursive;
  font-weight: lighter !important;
}
.card p {
  color: rgb(255, 255, 255);
  display: none;
  transition: 200ms ease-in-out;
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  line-height: calc(100% + 10px);
  text-shadow: 2px 2px 5px rgb(168, 167, 167);
  font-size: 22px;
}
.card:hover {
  background: rgba(129, 129, 129, 0);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.219),
    -1px -1px 30px rgba(0, 0, 0, 0.226);
  cursor: pointer;
  transform: translateY(-5px);
}
.card:hover > h1 {
  display: none;
}
.card:hover > p {
  display: inline-block;
}
.card a{
  color: rgb(255, 255, 255);
  font-family: "EB Garamond", serif;
  text-decoration: underline;
}
/* -------------------------------------------------------------- */
.clight {
  color: #000;
  margin: 50px;
  height: 440px;
  width: 290px;
  padding: 10px;
  background: rgb(54, 54, 54);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  text-align: center;
  overflow: hidden;
  /* box-shadow: 1px 1px 5px rgb(0, 0, 0), -1px -1px 5px rgb(0, 0, 0); */
}
.clight h1 {
  color: rgb(255, 255, 255);
  transition: all 120ms ease-in-out;
  font-size: 70px;
  font-family: "Cookie", cursive;
  font-weight: lighter !important;
}
.clight p {
  color: rgb(0, 0, 0);
  display: none;
  transition: 200ms ease-in-out;
  font-family: "EB Garamond", serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: calc(100% + 10px);
}
.clight:hover {
  background: rgba(129, 129, 129, 0);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.219),
    -1px -1px 30px rgba(0, 0, 0, 0.226);
  cursor: pointer;
  transform: translateY(-5px);
}
.clight:hover > h1 {
  display: none;
}
.clight:hover > p {
  display: inline-block;
  font-size: 22px;
}
.clight a {
  color: black;
  font-family: "EB Garamond", serif;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .content-dark {
    height: 100%;
  }
  .content-light {
    height: 100%;
  }
}
